#actor4 {
    width: 100%;
    height: 100%;

    #christianBaleBetmen {
        opacity: 0;
    }

    #christianBaleGotham{
        opacity: 0;
    }

    #christianBaleMouthDown, #christianBaleMouthUp{
        transform-origin: 25% 5%; 
    }

}

