// Abstracts holds Sass tools, helper files, variables, functions, mixins and other config files. These files are meant to be just helpers which don’t output any CSS when compiled.

// Sass Variables

// background color
$backgroundApp: #fff;
$cardBackground: rgba(255, 255, 255, 0.2); ;
$btnCustomBackground: #FF3B3F;
$modalBackground: #CAEBF2;
$modalArrowBackground: #ffffff;

//
$cardColor: #A9A9A9;
$btnCustomColor: #000000;
$black: #000000;
$modalCloseButtonColor: #FF3B3F;
$modalArrowCollor: #FF3B3F;