// Abstracts holds Sass tools, helper files, variables, functions, mixins and other config files. These files are meant to be just helpers which don’t output any CSS when compiled.

// Sass Variables

// background color
$backgroundApp: #CAEBF2;
$cardBackground: #EFEFEF;
$btnCustomBackground: #FF3B3F;
$modalBackground: #CAEBF2;
$modalArrowBackground: #A9A9A9;

//
$cardColor: #A9A9A9;
$btnCustomColor: #FF3B3F;
$black: #000000;
$modalCloseButtonColor: #FF3B3F;
$modalArrowCollor: #FF3B3F;