.card {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50%;
    z-index: 10;
    background-color: $cardBackground;
    color: $cardColor;

    .card-title {
        font-size: 30px;
        cursor: pointer;
    }

    .card-text {
        font-family: 'Handlee', cursive;
        font-size: 20px;
        color: $black;
    }

    a {
        color: $cardColor;
    }
}

.jpg-image {
    display: none;
}

.actorsSVG {
    display: block;
    position: relative;
}

@include breakpint(widthSlider) {
    .card {
        position: relative;
        margin: 0 auto;
        z-index: 10;
        width: 80%;
    }

    .jpg-image {
        display: block;
    }

    .actorsSVG {
        display: none;
    }
}
