<div class="container">
  <!-- Images used to open the lightbox -->
  <div class="row" id="actor-gallery-list">
    <div class="col-sm-6 col-md-4 actor-image">
      <img src="../images/matthew-mcconaughey.jpg" class="img-fluid" alt="Matthew Mcconaughey" title="Matthew Mcconaughey"/>
    </div>
    <div class="col-sm-6 col-md-4 actor-image">
      <img src="../images/al-pacino.jpg" class="img-fluid" alt="Al Pacino" title="Al Pacino"/>
    </div>
    <div class="col-sm-6 col-md-4 actor-image">
      <img src="../images/liam-neeson.jpg" class="img-fluid" alt="Liam Neeson" title="Liam Neeson"/>
    </div>
    <div class="col-sm-6 col-md-4 actor-image">
      <img src="../images/christian-bale.jpg" class="img-fluid" alt="Christian Bale" title="Christian Bale"/>
    </div>
  </div>

  <!-- The Modal/Lightbox -->
  <div id="myModal" class="gallery-modal">
    <span class="close cursor" id="close-cursor">&times;</span>
    <div class="modal-content">
      <div class="mySlides">
        <div id="actor1"></div>
      </div>

      <div class="mySlides">
        <div id="actor2"></div>
      </div>

      <div class="mySlides">
        <div id="actor3"></div>
      </div>

      <div class="mySlides">
        <div id="actor4"></div>
      </div>

      <!-- Next/previous controls -->
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
    </div>
  </div>
</div>
